@model ResultProductDetailsViewModel
<li><span class="fa fa-bed"></span> @Model.bedroomCount</li>
<li><span class="fa fa-bath"></span> @Model.bathCount</li>
<li><span class="fa fa-share-square-o"></span> @Model.productSize</li>