@model List<AdminPanelResultToDoListForDashboardViewModel>
<div class="col-sm-12 col-md-6 col-xl-4">
    <div class="h-100 bg-light rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Yapılacaklar Listesi</h6>
            <a href="">Tümünü Gör</a>
        </div>
        <div class="d-flex mb-2">
            <input class="form-control bg-transparent" type="text" placeholder="Enter task">
            <button type="button" class="btn btn-primary ms-2">Add</button>
        </div>
        <div id="todoList"></div>
    </div>
</div>